body {
	font-family: Helvetica,Roboto,Arial,sans-serif;
	background-color: #eee;
	color: #257;	
}
a {
	color: #257;
}
.loading-sm {
	background: url('/packages/keplerjs_theme/assets/images/loader-sm.gif') no-repeat center center #fff;
}

.loading-default {
	background: url('/packages/keplerjs_theme/assets/images/loader-default.gif') no-repeat center center #fff;
}

.loading-lg,
.sidebar .panel-body.loading-lg {
	background: url('/packages/keplerjs_theme/assets/images/loader-lg.gif') no-repeat center center #fff;
}

.loading-bar {
	background: url('/packages/keplerjs_theme/assets/images/loader-bar.gif') no-repeat center center #fff;
}

body > .container,
body > .container-fluid {
	background: url('/packages/keplerjs_theme/assets/images/back-hex.png') repeat-x top center #eee;
}

#logo {
	height:150px;
	width:150px;
	border:none;
	margin: 0 auto;
}

#slogan {
	margin: 10px auto;
	font-size: 14px;
	letter-spacing: 2px;
	text-shadow: 0 0 3px rgba(0,0,0,0.2);
}
#login-buttons .login-image {
	display: none;
}
#login-buttons .login-button,
.accounts-dialog .login-button,
#login-buttons .login-button:hover,
.accounts-dialog .login-button:hover {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}