
<template name="item_conver">
	<div class="conver-item">
			{{#if placeId}}
				{{#with newUser userId}}
					{{> item_user}}
				{{/with}}
			{{else}}
				{{#each usersIds}}
					{{#with newUser this}}
						{{> item_user}}
					{{/with}}
				{{/each}}
			{{/if}}
			<a class="btn conver-btn-title" href="/conver/{{_id}}">{{{tit}}}</a>			
		<div class="pull-right">
			{{#if placeId}}
				{{#with newPlace placeId}}
					{{> item_place}}
				{{/with}}
			{{/if}}
			<time>{{humanTime lastMsg.updateAt 1}}</time>
			<label class="btn btn-sm btn-default conver-btn-del">
				<i class="icon icon-del"></i>
			</label>
		</div>
	</div>
</template>
