
<template name="item_friend">
	<div class="friend-item {{#unless isOnline}}offline{{/unless}}">
		<div class="pull-left">
			<i class="icon icon-{{#if isOnline}}online{{else}}offline{{/if}}{{#if mob}}-mob{{/if}} user-device"></i>
			{{> item_user}}
		</div>
		<div class="pull-right">
		{{#if isOnline}}
			{{> user_btns}}
		{{/if}}
		</div>
	</div>
</template>

<template name="item_friend_search">

	<form class="form-horizontal">
		<div class="form-group has-feedback col-xs-9">
			<!--div class="input-group"--> 
				<input class="form-control friends-search" type="text" placeholder="{{i18n 'labels.findusers'}}" /> 
				<!--span class="input-group-addon"><i class="icon icon-search"></i></span>
			</div-->
		</div>
		<div class="text-right">
			<input class="form-control" id="switch_online" type="checkbox" />
		</div>
	</form>

</template>