
<template name="item_place">
	<a class="btn place-btn-name" href="/place/{{id}}">
		{{#if name}} {{name}} {{else}}<i>{{i18n 'labels.noname'}}</i>{{/if}}
	</a>
</template>

<template name="item_place_favorite">
	<div class="favorite-item">
		<div class="pull-left">
			{{> item_place}}
		</div>
		<div class="pull-right">
			{{> place_btns}}
		</div>
	</div>
</template>

<template name="item_place_nearby">
	<div class="nearby-item well well-sm">
		{{> item_place}}
		<br />
		<small class="pull-right">{{near}}</small>
		<br />
		{{> place_btns}}
	</div>
</template>

<template name="search_place">
	<form class="form-horizontal">
		<div class="form-group has-feedback col-xs-9">
			<!--div class="input-group"--> 
				<input class="form-control places-search" type="text" placeholder="{{i18n 'labels.findplace'}}" /> 
				<!--span class="input-group-addon"><i class="icon icon-search"></i></span>
			</div-->
		</div>
	</form>
	<div class="clearfix"></div>
	<label>{{i18n 'labels.nearplaces'}}</label>
</template>

<template name="item_place_search">
	<div class="pull-left">
		{{> item_place}}
	</div>
	<div class="btn-group pull-right">
		<i class="btn btn-xs disabled text-muted text-capitalize">{{prov}} &bull; {{reg}}</i>
		<a class="btn btn-xs" href="/place/{{id}}/map">
			<i class="icon icon-map"></i>
		</a>
	</div>
</template>

<template name="place_btns">	
	<div class="btn-group" data-toggle="buttons">
		<a class="btn btn-sm btn-default place-btn-checkins" href="/place/{{id}}/checkins">
			<i class="icon {{#if checkinsCount}} icon-users {{else}} icon-unusers {{/if}}"></i>
			<span class="badge {{#unless checkinsCount}} bg-gray {{/unless}}">{{checkinsCount}}</span>
		</a>
		<a class="btn btn-sm btn-default place-btn-mes" href="/place/{{id}}/convers">
			<i class="icon {{#if conversCount}} icon-mes {{else}} icon-unmes {{/if}}"></i>
			<span class="badge {{#unless conversCount}} bg-gray {{/unless}}">{{conversCount}}</span>
		</a>		
		<a class="btn btn-sm btn-default" href="/place/{{id}}/map">
			<i class="icon icon-map"></i>
		</a>
	</div>
</template>

<template name="place_btns2">
	<div class="place-btns">
		<div class="btn-group" data-toggle="buttons">
			<a class="btn btn-sm btn-default disabled" href="/place/{{id}}/sectors">
				<i class="icon icon-sectors"></i> <span class="hidden-sm">{{i18n 'btns.sectors'}}</span>
			</a>
 			<a class="btn btn-sm btn-default disabled" href="/place/{{id}}/photos">
				<i class="icon icon-photos"></i> <span class="hidden-xs">{{i18n 'btns.photos'}}</span>
			</a>
			<a class="btn btn-sm btn-default disabled" href="/place/{{id}}/share">
				<i class="icon icon-share"></i>
			</a>
		</div>
	</div>
</template>

<template name="place_btns3">	
	<div class="btn-group" data-toggle="buttons">
		<label class="btn btn-sm btn-default place-btn-checkin">
			<i class="icon {{#if isCheckin}} icon-checkin {{else}} icon-uncheckin {{/if}}"></i>
			<span class="{{#if isCheckin}} text-primary {{else}} text-muted {{/if}}">
			{{#if isCheckin}}
				{{i18n 'btns.checkout'}}
			{{else}}
				{{i18n 'btns.checkin'}}
			{{/if}}
			</span>
			<input type="checkbox" checked={{isCheckin}} />
		</label>
		<label class="btn btn-sm btn-default place-btn-star">
			<i class="icon {{#if isFavorite}} icon-star {{else}} icon-unstar {{/if}}"></i>
			<span class="badge {{#unless getRank}} bg-gray {{/unless}}">{{getRank}}</span>
			<input type="checkbox" checked={{isFavorite}} />
		</label>		
	</div>
</template>

<template name="place_btns_all">	
	<div class="row">
		<div class="col-sm-6">
			{{> place_btns3}}
		</div>	
		<div class="col-sm-6">
			{{> place_btns}}
		</div>		
	</div>
</template>
