<template name="item_user">
	<a class="btn user-btn-name" href="{{#if id}}/user/{{id}}{{/if}}">
		<img class="user-avatar" src="{{avatar}}" /><u>{{name}}</u>
	</a>
</template>  

<template name="item_friend">
	<div class="friend-item {{#unless isOnline}}offline{{/unless}}">
		<div class="pull-left">
			<i class="icon icon-{{#if isOnline}}online{{else}}offline{{/if}}{{#if mob}}-mob{{/if}} user-device"></i>
			{{> item_user}}
		</div>
		<div class="pull-right">
		{{#if isOnline}}
			{{> user_buttons}}
		{{/if}}
		</div>
	</div>
</template>

<template name="user_buttons">
	<div class="user-btns">
	{{#if checkinPlace}}
		{{#with checkinPlace}}
			{{> item_place_favorite}}
		{{/with}}
	{{else}}
		{{#if getLoc}}
		<a class="btn btn-sm btn-default user-btn-map" href="/user/{{id}}/map">
			<i class="icon icon-map-user"></i>
		</a>
		{{/if}}
	{{/if}}
	</div>
</template>

<template name="user_buttons2">
	<div class="user-btns">
		{{#if isFriend}}
		<div class="btn-group" data-toggle="buttons">			
			<a class="btn btn-sm btn-default" href="/user/{{id}}/conver">
				<i class="icon icon-mes"></i> <span>{{i18n 'ui.btns.conversend'}}</span>
			</a>
<!-- 			<a class="btn btn-sm btn-default user-btn-bid" href="#">
				<i class="icon icon-userbid"></i> <span>{{i18n 'ui.btns.bid'}}</span>
			</a> -->
		</div>
		<div class="btn-group pull-right" data-toggle="buttons">
			<a data-userid="{{id}}" class="btn btn-sm btn-default user-btn-del" href="#">
				<i class="icon icon-userdel"></i>
			</a>
			<a data-userid="{{id}}" class="btn btn-sm btn-default user-btn-report" href="#">
				<i class="icon icon-report disabled"></i>
			</a>			
		</div>
		{{else}}

		<!-- TODO http://getbootstrap.com/javascript/#buttons -->
		<div class="btn-group pull-right" data-toggle="buttons">
			<a data-userid="{{id}}" class="btn btn-sm btn-default user-btn-add" href="#">
				<i class="icon icon-useradd"></i> <span>{{i18n 'ui.btns.addfriend'}}</span>
			</a>
		</div>
		{{/if}}
	</div>
</template>

