
<template name="item_user">
	<a class="btn user-btn-name" href="{{#if id}}/user/{{id}}{{else}}/profile{{/if}}">
		<img class="user-avatar" src="{{avatar}}" /><u>{{name}}</u>
	</a>
</template>  

<template name="user_btns">
	<div class="btn-group">
	{{#if checkinPlace}}
		{{#with checkinPlace}}
			{{> item_place_favorite}}
		{{/with}}
	{{else}}
		{{#if getLoc}}
		<a class="btn btn-sm btn-default user-btn-map">
			<i class="icon icon-map-user"></i>
		</a>
		{{/if}}
	{{/if}}
	</div>
</template>

<template name="user_btns2">
	<div class="user-btns">
	{{#if isFriend}}
		<div class="btn-group" data-toggle="buttons">			
			<a class="btn btn-sm btn-default" href="/user/{{id}}/conver">
				<i class="icon icon-mes"></i> <span>{{i18n 'btns.conversend'}}</span>
			</a>
<!--  			<a class="btn btn-sm btn-default user-btn-bid" href="#">
				<i class="icon icon-userbid"></i> <span>{{i18n 'btns.bid'}}</span>
			</a> -->
		</div>
		<div class="btn-group pull-right" data-toggle="buttons">
			<a data-userid="{{id}}" class="btn btn-sm btn-default user-btn-del" href="#">
				<i class="icon icon-userdel"></i>
			</a>
			<a data-userid="{{id}}" class="btn btn-sm btn-default user-btn-block disabled" href="#">
				<i class="icon icon-report"></i>
			</a>
		</div>
	{{else}}
		{{#if isPending}}
			<div class="btn-group pull-right" data-toggle="buttons">
				<a class="btn btn-sm btn-default" href="#">
					<i class="icon icon-hist"></i> <span>{{i18n 'btns.friendpending'}}</span>
				</a>
			</div>
		{{else}}
			{{#if isReceive}}
				<div class="btn-group pull-right" data-toggle="buttons">
					<a class="btn btn-sm btn-warning user-btn-confirm" href="#">
						<i class="icon icon-useradd"></i> <span>{{i18n 'btns.friendconfirm'}}</span>
					</a>
				</div>
			{{else}}
				{{#if isBlocked}}
					<div class="btn-group pull-right" data-toggle="buttons">
						<a class="btn btn-sm btn-default user-btn-unblock disabled" href="#">
							<i class="icon icon-report"></i> <span>{{i18n 'btns.friendunblock'}}</span>
						</a>
					</div>
				{{else}}
					<div class="btn-group pull-right" data-toggle="buttons">
						<a class="btn btn-sm btn-default user-btn-add" href="#">
							<i class="icon icon-useradd"></i> <span>{{i18n 'btns.friendadd'}}</span>
						</a>
					</div>
				{{/if}}
			{{/if}}
		{{/if}}
	{{/if}}
	</div>
</template>

