
.list-items.list-group {
	margin: 0;
}
.list-items .list-group-item:first-child {
	border-radius: 0;
}

.list-items.favorites .place-btn-star,
.list-items.favorites .place-btn-checkin,
.list-items.convers_profile .place-btns,
.list-items.convers_profile .conver-author,
.list-items.convers_place .place-btn-name,
.list-items.convers_place .conver-btns {
	display: none;
}


.list-items.favorites .place-btn-checkins {
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}
