
#settings .loading-default #fileavatar {
	visibility: hidden;
}

#settings .dropdown-menu {
	border: none;
	background: none;
	padding: 5px 0;
	border-radius: 0
}
#settings #login-dropdown-list .dropdown-menu {
	margin: 0
}

#settings #map-layers .btn {
	background-size:50% 50%;
	color: #fff;
	text-shadow:0 0 3px #000;
	box-shadow: none;
}

#settings #map-layers .btn {
	border:2px solid #fff;
	opacity: 0.6
}
#settings #map-layers .btn.active {
	border:2px solid #337ab7;
	opacity: 1
}