
#settings .loading-default #fileavatar {
	visibility: hidden;
}

#settings .dropdown-menu {
	border: none;
	background: none;
	padding: 5px 0;
	border-radius: 0
}
#settings #login-dropdown-list .dropdown-menu {
	margin: 0
}