
.weather-labels {
	color: #579ad4;
	font-size: 12px;
	line-height: 14px;
}
.weather-labels .temp-min  { color:#68f; }
.weather-labels .temp-max  { color:#f86; }

/* TODO aggiungi prefix weather-icon */
.sky-icon,
.wind-icon,
.temp-icon,
.umid-icon {
	background:url("/packages/keplerjs_weather/assets/images/weather.png") no-repeat;
	display: inline-block;
	width:50px;
	height:50px;
}
.sky-icon.chancerain	{ background-position: 0 -50px }
.sky-icon.chancesnow	{ background-position: -50px -50px }
.sky-icon.chancetstorms	{ background-position: -100px -50px }
.sky-icon.clear			{ background-position: -150px -50px }
.sky-icon.cloudy		{ background-position: -200px -50px }
.sky-icon.fog			{ background-position: -250px -50px }
.sky-icon.mostlycloudy	{ background-position: -300px -50px }
.sky-icon.partlycloudy	{ background-position: -350px -50px }
.sky-icon.rain			{ background-position: -400px -50px }
.sky-icon.sleet			{ background-position: -450px -50px }
.sky-icon.snow			{ background-position: -500px -50px }
.sky-icon.tstorms		{ background-position: -550px -50px }
/*.sky-icon.	{ background-position: -600px -50px }
.sky-icon.	{ background-position: -650px -50px }
.sky-icon.	{ background-position: -700px -50px }
.sky-icon.	{ background-position: -750px -50px }*/

.wind-icon.n    { background-position: -750px 0 }
.wind-icon.nne	{ background-position: -700px 0 }
.wind-icon.ne	{ background-position: -650px 0 }
.wind-icon.ene	{ background-position: -600px 0 }
.wind-icon.e	{ background-position: -550px 0 }
.wind-icon.ese	{ background-position: -500px 0 }
.wind-icon.se	{ background-position: -450px 0 }
.wind-icon.sse	{ background-position: -400px 0 }
.wind-icon.s    { background-position: -350px 0 }
.wind-icon.ssw	{ background-position: -300px 0 }
.wind-icon.sw	{ background-position: -250px 0 }
.wind-icon.wsw	{ background-position: -200px 0 }
.wind-icon.w	{ background-position: -150px 0 }
.wind-icon.wnw	{ background-position: -100px 0 }
.wind-icon.nw	{ background-position: -50px 0 }
.wind-icon.nnw	{ background-position: 0 0 }

.temp-icon { background-position: 0 -100px; }
.umid-icon { background-position: -50px -100px; }

