
<template name="panel_bio">

	<div class="row">
		<div class="col-xs-4">
			<img class="img-thumbnail user-avatar-big" src="{{avatar}}" />
		</div>
		<div class="col-xs-8">
			{{#if city}}<label>{{i18n 'ui.labels.city'}}:</label> {{cap city}}<br />{{/if}}
			{{#if places.length}}
				<label>{{i18n 'ui.labels.likeplaces'}}:</label>
				{{#each places}}
					<a class="label label-primary">{{this}}</a> 
				{{/each}}
			{{/if}}
			<br />
			<label>{{i18n 'ui.labels.signupdate'}}:</label> <time>{{humanTimeUTC createdAt 1}}</time>
		</div>
	</div>

</template>