
<template name="tab_bio">

	<div class="row">
		<div class="col-xs-4">
			<img class="img-thumbnail user-avatar-big" src="{{avatar}}" />
		</div>
		<div class="col-xs-8">

			<div class="text-right">
				{{#if isOnline}}
				<b class="text-green">online</b>
				{{else}}
				<b class="text-gray">offline</b>
				{{/if}}
				<i class="icon icon-{{#if isOnline}}online{{else}}offline{{/if}}{{#if mob}}-mob{{/if}} user-device"></i> 
			</div>
			
			
			<label>{{i18n 'labels.signupdate'}}</label> <time>{{humanDateUTC createdAt}}</time>
			<br />
			{{#if city}}<label>{{i18n 'labels.city'}}</label> <span class="text-capitalize">{{city}}</span><br />{{/if}}
			{{#if places.length}}
				<label>{{i18n 'labels.likeplaces'}}</label>
				{{#each places}}
					<small class="">{{this}}</small>, 
				{{/each}}
			{{/if}}
			
		</div>
	</div>

</template>