body {
	font-family: Helvetica,Arial,sans-serif;
}

.loading-sm {
	background: url('/packages/keplerjs_theme/assets/images/loader-sm.gif') no-repeat center center #fff;
}

.loading-default {
	background: url('/packages/keplerjs_theme/assets/images/loader-default.gif') no-repeat center center #fff;
}

.loading-lg,
.sidebar .panel-body.loading-lg {
	background: url('/packages/keplerjs_theme/assets/images/loader-lg.gif') no-repeat center center #fff;
}

.loading-bar {
	background: url('/packages/keplerjs_theme/assets/images/loader-bar.gif') no-repeat center center #fff;
}
