body {
	font-family: Helvetica,Arial,sans-serif;
	color: #2b5777;
	background-color: #ddd;
}
.loading-sm {
	background: url('/packages/keplerjs_theme/assets/images/loader-sm.gif') no-repeat center center #fff;
}

.loading-default {
	background: url('/packages/keplerjs_theme/assets/images/loader-default.gif') no-repeat center center #fff;
}

.loading-lg,
.sidebar .panel-body.loading-lg {
	background: url('/packages/keplerjs_theme/assets/images/loader-lg.gif') no-repeat center center #fff;
}

.loading-bar {
	background: url('/packages/keplerjs_theme/assets/images/loader-bar.gif') no-repeat center center #fff;
}

body > .container,
body > .container-fluid {
	background: url('/packages/keplerjs_theme/assets/images/back-hex.png') repeat-x top center #ddd;
}

#logo {
	height:200px;
	width:200px;
	border:none;
	margin: 4px auto;
}

#slogan {
	margin: 10px auto;
	font-size: 14px;
	letter-spacing: 2px;
	text-shadow: 0 0 3px rgba(0,0,0,0.2);
}