
#tab_checkin .list-group-item {
	margin-bottom: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
#tab_checkin .list-group-item.active {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
#tab_checkin .place-btn-name {
	margin: -10px;	
	color: #fff;
}

#tab_checkin .place-btn-photos {
	display: none;
}