

#friends .friend-item.offline .user-avatar {
	opacity: 0.6;
}
#friends .friend-item.offline .btn {
	color: #888;
}

#friends .place-btn-star,
#friends .place-btn-checkin,
#friends .place-btn-checkins {
	display: none;
}

#friends .user-btn-map,
#friends .place-btn-map {
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}