
#friends.panel {
	border-left: 2px solid #bbb;
}

#friends > .panel-heading {
	border-color: #bbb;
	background-image: -webkit-linear-gradient(top,#ccc 0,#bbb 100%);
	background-image: linear-gradient(to bottom,#ccc 0,#bbb 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc', endColorstr='#bbb', GradientType=0);	
}

#friends > .panel-body {
	padding: 0;
}

/* friend offline */
#friends .friend-item.offline .user-avatar {
	opacity: 0.6;
}
#friends .friend-item.offline .btn {
	color: #888;
}

#friends .place-btn-star,
#friends .place-btn-checkin,
#friends .place-btn-checkins {
	display: none;
}

#friends .user-btn-map,
#friends .place-btn-map {
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}

#friends .form-control-feedback {
	top: 0;
}

#friends .users-inp-search {
	border-radius: 8px;
	border: 1px solid #aaa;
	margin: 2px;
	box-shadow: 2px 2px 4px #ddd inset;
}