
.list-items.list-group {
	margin: 0;
}
.list-items .list-group-item:first-child {
	border-radius: 0;
}

.convers .list-items .place-btns,
.convers .list-items .conver-author,
.favorites .list-items .place-btn-star,
.favorites .list-items .place-btn-checkin,
.placeConvers .list-items .place-btn-name {
	display: none;
}


.list-items.favorites .place-btn-checkins {
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}

