
.header-item {
	margin-bottom: 10px;
}
.list-items.list-group {
	margin: 0;
	box-shadow: none;	
}
.list-items .list-group-item {
	clear: both;
	border:none;
	border-radius: 0;
	border-bottom:1px solid #ddd;
	margin: 1px 0;
}
.list-items .list-group-item:first-child {
	border-top:none;
}
.list-items .list-group-item:last-child {
	border-bottom:none;
}
