
#nearby .well {
	margin: 0 0 15px 15px;
	cursor: pointer;
	background: none;
}

#nearby .well:hover {
	border:1px solid #428bca;
}

#nearby .place-btn-name {
	font-size: 12px;
	line-height: 12px;
	display: inline;
}
