#alertlist {
	position: fixed;
	bottom: 2px;
	left: 2px;
	right: 50px;
	z-index: 2000;
	border-radius: 0;
	box-shadow: none;
	background: none;
	max-width: 320px;
}
#alertlist .alert {
	margin: 3px 3px 6px 3px;
	padding: 6px 24px 2px 6px;
	box-shadow: 0 0 6px rgba(0,0,0,0.3);
	background-color:rgba(255,255,255,0.8);
	border-radius:5px;
	border: 2px solid #5F9CD1;
	font-size: 14px;
	min-height: 40px;
}
#alertlist .close {
	font-size: 32px;
	line-height: 30px;
	padding: 0 6px;
	opacity: 1;
	color: #5F9CD1
}

.alert.text-checkin { border: 2px solid #398BC6 }
.alert.text-success,
.alert.text-online { border: 2px solid #3eae3e }
.alert.text-users { border: 2px solid #f59614 }
.alert.text-warn { border: 2px solid #C20A09 }
.alert.text-mes { border: 2px solid #5FB3D8 }

.alert.text-checkin .close { color: #398BC6 }
.alert.text-success .close,
.alert.text-online .close { color: #3eae3e }
.alert.text-users .close { color: #f59614 }
.alert.text-warn .close { color: #C20A09 }
.alert.text-mes .close { color: #5FB3D8 }
