
/********** Leaflet Customizations **********/
.leaflet-right {
	z-index: 1;
}

/* CONTROLS */
.leaflet-left.leaflet-top .leaflet-control,
.leaflet-left.leaflet-bottom .leaflet-control,
.leaflet-right.leaflet-bottom .leaflet-control,
.leaflet-right.leaflet-top .leaflet-control {
	margin: 3px;
	box-shadow: 0 0 6px rgba(0,0,0,0.3);
	background-color:rgba(255,255,255,0.8);
	border-radius:5px;
	border: 2px solid #4F96CA;	
}


/* SEARCH */
.leaflet-control-search.search-load .search-input {
	background: url('/images/loader-default.gif') no-repeat center right #fff;
}
.leaflet-control-search .search-tooltip {
	max-height:200px; /* (.search-tip height * 5) */
	min-width: 310px;
	overflow-y:scroll;
}
.leaflet-control-search .search-input {
	display:block;
	float:left;
	background: #fff;
	border:1px solid #006CB7;
	border-radius:5px;
	height:26px;
	font-size: 1.4em;
	line-height: 1.4em;
	padding:0 .125em;
	margin:2px;
}
.leaflet-control-search .search-button:hover,
.leaflet-control-search .search-button {
	width:30px;
	height:30px;
}
.leaflet-control-search .search-cancel {
	width:18px;
	height:18px;
	right:30px;
	margin:6px;
}
.leaflet-control-search .search-tip {
	background: #fff;
	padding: 0 2px;
	height: 32px;
	overflow: hidden;
	/*position: relative;*/
}
.leaflet-control-search .search-button:hover,
.leaflet-control-search .search-tip-select {
	background-color: #fff;
}
.leaflet-control-search .search-alert {
	font-size:1.2em;
} 


/* ZOOM */

.leaflet-bar-part,
.leaflet-touch .leaflet-bar-part {
	border-bottom: 1px solid rgba(95,156,209,1);
}
.leaflet-bar-part-bottom {
	border-bottom: none;
}
.leaflet-control-zoom,
.leaflet-touch .leaflet-control-zoom {
	border-radius:6px;
}
.leaflet-control-zoom a {
	background-color:rgba(255,255,255,0.1);
}
.leaflet-bar a,
.leaflet-touch .leaflet-bar a {
	background-color: none;
	width: 30px;
	height: 30px;
	color: #fff;
	text-indent:-100px;
	/*http://goo.gl/q90DK*/
}
.leaflet-bar a.leaflet-control-zoom-disabled,
.leaflet-touch .leaflet-bar a.leaflet-control-zoom-disabled {
	opacity: 0.5;
}
.leaflet-touch .leaflet-control-zoom-out {
	line-height: 24px;	
}
.leaflet-bar a:hover,
.leaflet-touch .leaflet-bar a:hover {
	background-color: #fff;
	width: 30px;
	height: 30px;
}
.leaflet-touch .leaflet-bar a:first-child {
	-webkit-border-top-left-radius: 4px;
	        border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	        border-top-right-radius: 4px;
}
.leaflet-touch .leaflet-bar a:last-child {
	-webkit-border-bottom-left-radius: 4px;
	        border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	        border-bottom-right-radius: 4px;
	border-bottom: none;
}

/* GPS */
.leaflet-control.leaflet-control-gps {
	float: right;
	clear: both;
	z-index: 10;
}
.leaflet-control-gps .gps-button,
.leaflet-control-gps .gps-button:hover {
	display:block;
	width:30px;
	height:30px;
	border-radius:4px;
}
.leaflet-control-gps .gps-button:hover,
.leaflet-control-gps .gps-button.active:hover {
	background-color: #fff;
}
.leaflet-control-gps .gps-alert {
	left:36px;
	bottom:-2px;
	width:auto;
	font-size:1.2em;
}


/* LAYERS */
/*
.leaflet-control-layers,
.leaflet-touch .leaflet-control-layers {
	border-radius:6px;
	color: #528BB7;
	font-size: 1.125em;
	font-weight: bold;
	font-family: Helvetica,Arial,sans-serif;
}
.leaflet-control-layers-toggle,
.leaflet-touch .leaflet-control-layers-toggle {
	background-image: url('/images/controls/control-layers.png');
	background-position: center center;
	width: 32px;
	height: 32px;
}
.leaflet-control-layers-separator {
	float:left;
	height: 30px;
	width:0px;
	border-top: none;
	border-left:1px solid #aaa;
	margin: 5px;
}
.leaflet-control-layers-base,
.leaflet-control-layers-overlays {
	float:left;
}
*/

/* BUTTONS */
.leaflet-control.leaflet-control-status a,
.leaflet-control.leaflet-control-profile a,
.leaflet-control.leaflet-control-friends a {
	text-align: center;
	display: block;
	height: 30px;
	width: 30px;
}

/* ALERTS */

 .leaflet-left.leaflet-top .leaflet-control-alerts {
 	padding: 3px;
	width: 300px;
	max-width: 90%;	
	left: auto;
	border-radius: 0;
	box-shadow: none;
	background: none;
	border:none;
}
.leaflet-control-alerts .alert {
	margin: 3px 3px 6px 3px;
	padding: 6px 24px 2px 6px;
	box-shadow: 0 0 6px rgba(0,0,0,0.3);
	background-color:rgba(255,255,255,0.7);
	border-radius:6px;
	font-size: 14px;
	min-height: 40px;
}
.alerts-btn-close {
	background-color:rgba(255,255,255,0.6);
	border-radius:6px;
}
.leaflet-control-alerts .close {
	font-size: 32px;
	line-height: 30px;
	padding: 0 6px;
	opacity: 1;
}

/* SCALE */

.leaflet-control-scale-line {
	border: none;
	padding: 2px 0 0 2px;
	border-left: 2px solid rgba(95,156,209,1);
	color: rgba(95,156,209,1);
	background-repeat:repeat-x;
	vertical-align: bottom;
	text-shadow:none;
	font-size: 12px;	
	background-color: rgba(255, 255, 255, 0.3);
	z-index:1;
}


/* PERMALINK */

.leaflet-control-permalink {
}


/* ATTRIBUTION*/
.leaflet-right.leaflet-bottom .leaflet-control.leaflet-control-attribution {
	border:none;
	padding: 0 4px 4px 6px;
	line-height: 12px;
	color: #666;
	margin: 0 -4px -4px 0;
}
.leaflet-control-attribution a {
	text-decoration: none;
	letter-spacing: 1px;
}
/*.climbo-logomap {
	position: absolute;
	bottom: 24px;
	right: 10px;
	filter: alpha(opacity=60);
	-khtml-opacity: 0.6;
	-moz-opacity: 0.6;
	opacity: 0.6;
}*/
/*@media all and (min-width:640) {
	.leaflet-control.leaflet-control-attribution { display:none }
}*/
