
.sidebar {
	box-shadow: 0 0 6px rgba(0,0,0,0.3);
	z-index: 1000;
}
.sidebar-map {
    margin-left: 0;
}
.sidebar-content {
  background: #eee;
  overflow: hidden;
}

.sidebar-close {
	position: absolute;
	top: 8px;
	right: 10px;
	display: block;
	cursor: pointer;	
	color: #fff;
	text-shadow: 0 1px 0 #000;
	font-size: 2em;
	font-weight: bold;
	opacity: 1;
}
.sidebar-close:hover {
	text-shadow: none;
	color: #fff;
	text-decoration: none;
}

.sidebar-tabs {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(255,255,255,0.6);
}

.sidebar-tabs > li {
    margin: 3px;
	background-color:rgba(255,255,255,0.8);
	border-radius: 5px;
	width: 34px;
	height: 34px;
	border: 2px solid #4F96CA;
}

.sidebar-tabs > li > a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 34px;
  color: inherit;
  text-decoration: none;
  text-align: center
}
.sidebar-pane {
	padding: 0;
}

.sidebar-pane .panel {
	position:absolute;
	height: 100%;
	width: 100%;
	border-radius: 0;
	border:none;
	box-shadow: none;
}
.sidebar-pane .panel-heading {
	height: 50px;
	border-radius: 0;
}
.sidebar-pane .panel-body {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y:scroll;
}