
.user-item,
.friend-item,
.place-item,
.favorite-item,
.place-btn-name,
.conver-item {
	height: auto;
	overflow: hidden;
}
.user-btn-name,
.place-btn-name {
	text-transform:capitalize;	
	font-weight: bold;
	font-size: 14px;
	padding: 0;
	margin: 0;
	line-height: 30px;
}

.user-btn-name u {
	text-decoration: none;
	margin-left: 2px;
}

/* item user */
.user-device {
	/*margin: 7px 2px;*/
	line-height: 30px;
	vertical-align: middle;
}
.user-avatar {
	height: 30px;
	width: 30px;
	border-radius: 2px;
	background-color: #fff;
}
.user-avatar-big {
	height: 80px;
	width: 80px;
}

/* item place */
.place-btn-mes .badge:not(.bg-gray) {
	color:#fff;
	background-color:#8BCEDF;
}
.place-btn-checkins .badge:not(.bg-gray) {
	color:#fff;
	background-color:#F69714;
}
.popup-btn-star .badge:not(.bg-gray),
.place-btn-star .badge:not(.bg-gray) {
	color:#fff;
	background-color:#FCD865;
}

/* item conver */
.conver-item .conver-btn-title {
	font-weight: bold;
	font-size: small;
	padding: 5px 0;
	color: #666;
	max-width: 40%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.conver-item .conver-btn-title:hover {
	color: #000;
}
.conver-item time {
	font-size: 11px;
	color: #aaa;
}
.conver-item .user-btn-name,
.conver-item .place-btn-name {
	font-size: 12px;
}

.friend-item.offline .user-avatar {
	opacity: 0.6;
}
.friend-item.offline .btn {
	color: #888;
}

.friends-search:active + .icon-search {
	display: none;
}