html, body {
	height: 100%;
	background: #f9f9f9;
}
body {
	overflow: hidden;
	overflow-y:scroll;
}
#page404,
#pageLoading {
	background-color: #333;
	color:#f80;
	text-shadow:none;
	text-align: center;
}


.loading-sm {
	background: url('/images/loader-sm.gif') no-repeat center center #fff;
}

.loading-default {
	background: url('/images/loader-default.gif') no-repeat center center #fff;
}

.loading-lg {
	background: url('/images/loader-lg.gif') no-repeat center center #fff;
}

.loading-bar {
	background: url('/images/loader-bar.gif') no-repeat center center #fff;
}

.container-full {
	position: absolute;
	height: 100%;
	width: 100%;
	border:1px solid red;
}