#navbar {
	height: 50px;
}
#navbar .breadcrumb {
	background: #428bca;
	border:1px solid #529bda;
	font-size: 1.2em;
	font-weight: bold;
	padding: 5px;
	margin-top: 8px;
}

#navbar .breadcrumb a,
#navbar .breadcrumb li {
	color: #fff;
}
