#navbar {
	height: 40px;
	padding: 4px;
}
#navbar.navbar {
	min-height: 40px;
}
#navbar .container-fluid {
	padding: 0;
}
#navbar .breadcrumb {
	background: #428bca;
	border:1px solid #529bda;
	font-size: 1.2em;
	font-weight: bold;
	padding: 5px;
	margin: 0;
}

#navbar .breadcrumb a,
#navbar .breadcrumb li {
	color: #fff;
}
