
#pageIntro {
	min-height: 100%;
	background: url('/images/back.png') repeat-x top right #f7f7ff;
}

#logo {
	cursor:pointer;
	height:160px;
	border:none;
	margin:15px auto;
}

#slogan {
	clear: both;
	margin-bottom: 1em;
	font-size: .85em;
	letter-spacing: 2px;
	color:#0660A0;
	text-shadow: 0 0 3px #b5ddff;
}

