
#pageList .list-group {
	margin: 0;
}
#pageList .list-group-item:first-child {
	border-radius: 0;
}

/*#pageList.convers .user-btn-name b, */
#pageList.pageFavorites .place-btn-star,
#pageList.pageFavorites .place-btn-checkin,
#pageList.pageConvers .place-btns,
#pageList.pageConvers .conver-author,
#pageList.pageConversPlace .place-btn-name,
#pageList.pageConversPlace .conver-btns {
	display: none;
}


#pageList.pageFavorites .place-btn-checkins {
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}
