
.sidebar {
	position: absolute;
    top: 0;	
    left: 0;
    right: 50px;
    width: 320px;
	z-index: 1000;
	background: none;    
    max-height: calc(100% - 20px);
    overflow: hidden;
    padding: 6px;
}
.sidebar > .tab-content {
	margin-top: 6px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius:4px;
    max-height: calc(100% - 40px);
    overflow-y: auto
}
.sidebar.collapsed > .tab-content {
	height: 0;
	overflow: hidden;
	transition: height 100ms;
}
.sidebar .nav-pills {
	background:#fff;
    border-radius:4px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);    
    height: 34px;	
}
.sidebar > .nav > li > a {
	padding: 4px;
	margin: 2px;
}
.sidebar.collapsed > .nav > li > .active {
    background-color: rgba(120,120,120,0.8);
} 
.sidebar .panel {
	border: none;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
}
.sidebar .panel-heading {
	height: 42px;
	padding: 5px;
}
.sidebar .panel-body {
	overflow-x: hidden;						
	overflow-y: auto;
	background: none;
    height: 100%;
}

.sidebar-close {
	position: absolute;
	top: 6px;
	right: 6px;
	font-size: 22px;
	text-align: center;
	cursor: pointer;
	height: 32px;
	width: 32px;
	color:#fff;
	background: no-repeat center center url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDEyIDEyIj48cGF0aCBmaWxsPSIjMTI0MTkxIiBkPSJNNiAzLjU1bDMuNjA0IDIuOTM1TDExIDUuMDcgNiAxIDEgNS4wN2wxLjM5NCAxLjQxNUw2IDMuNTV6bS01IDYuNTJsMS4zOTQgMS40MTVMNiA4LjU1bDMuNjA0IDIuOTM2TDExIDEwLjA3IDYgNmwtNSA0LjA3eiIvPjwvc3ZnPg==);
}
.sidebar.collapsed .sidebar-close {	
	top: 8px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDEyIDEyIj48cGF0aCBmaWxsPSIjOThhMmFlIiBkPSJNNSA3LjkzOEwxLjM5NiA1IDAgNi40MTdsNSA0LjA3IDUtNC4wN0w4LjYwNyA1IDUgNy45NHptNS02LjUyMkw4LjYwNy4wMDIgNSAyLjkzNyAxLjM5NiAwIDAgMS40MTZsNSA0LjA3IDUtNC4wN3oiLz48L3N2Zz4=);
}

.sidebar-map .leaflet-left {
    left: 400px;
}
@media (max-width: 400px) {
    .sidebar {
        width: auto;
    }
}
@media (min-width: 768px) {
    .sidebar {
        top: 8px;
        left: 8px;
        right: auto;
        width: 460px;
    }
    .sidebar-map {
        margin-left: 0;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .sidebar-map .leaflet-left {
        left: 400px;
    }
}
@media (min-width: 1200px) {
    .sidebar {
        width: 460px;
    }
}