
.sidebar {
	position: absolute;
    top: 0;	
    left: 0;
    right: 50px;
    width: 320px;
	z-index: 1000;
	background: none;    
    height: auto;
    padding: 6px;
}
.sidebar.expanded {
	height: calc(100% - 20px);
}
.sidebar.expanded > .tab-content {
	margin-top: 6px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius:4px;
    overflow: hidden;
}
.sidebar .nav-pills {
	background:#fff;
    border-radius:4px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);    
    height: 40px;
    padding: 4px;	
}
.sidebar > .nav > li > a {
	padding: 5px;
	margin-right: 6px;
}
.sidebar .panel {
	border: none;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
}
.sidebar .panel-heading {
	height: 40px;
	padding: 5px;
}
.sidebar .panel-body {
	position: absolute;
	top: 92px;
	bottom: 40px;
	left: 6px;
	right: 6px;

	background: #fff;
    padding: 10px;
    max-height: calc(100% - 100px);
	overflow-x: hidden;
	overflow-y: auto;
}
.sidebar .panel-footer {
	height: 40px;
	padding: 3px;
	position: absolute;
	bottom: 0;
	left: 6px;
	right: 6px;
}

.sidebar-map .leaflet-left {
    left: 400px;
}
@media (max-width: 400px) {
    .sidebar {
        width: auto;
    }
}
@media (min-width: 768px) {
    .sidebar {
        top: 0;
        left: 0;
        right: auto;
        width: 460px;
    }
    .sidebar-map {
        margin-left: 0;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .sidebar-map .leaflet-left {
        left: 400px;
    }
}
@media (min-width: 1200px) {
    .sidebar {
        width: 460px;
    }
}