
.sidebar {
	position: absolute;
    top: 10px;	
    left: 10px;
	z-index: 1000;
    max-height: calc(100% - 20px);
	box-shadow: 0 0 6px rgba(0,0,0,0.3);
	background: #fff;
}
.sidebar.collapsed .tab-content {
	height: 0;
	overflow: hidden;
	transition: height 100ms;
}
.sidebar .nav-pills {
	padding: 3px;
}
.sidebar .nav>li>a {
    padding: 10px;
}
.sidebar .panel {
	border-radius: 0;
	border: none;
	box-shadow: none;
	margin-bottom: 0;
}
.sidebar .panel-heading {
	height: 50px;
	border-radius: 0;
}
.sidebar .panel-body {
	overflow-x: hidden;
	overflow-y: auto;
	background: none;
	max-height: 400px;
}

.sidebar-close {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	height: 44px;
	width: 30px;
	cursor: pointer;
	background: no-repeat #fff center center url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDEyIDEyIj48cGF0aCBmaWxsPSIjMTI0MTkxIiBkPSJNNiAzLjU1bDMuNjA0IDIuOTM1TDExIDUuMDcgNiAxIDEgNS4wN2wxLjM5NCAxLjQxNUw2IDMuNTV6bS01IDYuNTJsMS4zOTQgMS40MTVMNiA4LjU1bDMuNjA0IDIuOTM2TDExIDEwLjA3IDYgNmwtNSA0LjA3eiIvPjwvc3ZnPg==);
}
.sidebar.collapsed .sidebar-close {	
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDEyIDEyIj48cGF0aCBmaWxsPSIjOThhMmFlIiBkPSJNNSA3LjkzOEwxLjM5NiA1IDAgNi40MTdsNSA0LjA3IDUtNC4wN0w4LjYwNyA1IDUgNy45NHptNS02LjUyMkw4LjYwNy4wMDIgNSAyLjkzNyAxLjM5NiAwIDAgMS40MTZsNSA0LjA3IDUtNC4wN3oiLz48L3N2Zz4=);
}

@media (min-width: 768px) {
    .sidebar {
        top: 10px;    	
        left: 10px;
        transition: max-width 100ms;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .sidebar {
        width: 305px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .sidebar {
        width: 390px;
    }
}
@media (min-width: 1200px) {
    .sidebar {
        width: 460px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .sidebar-pane {
        width: 265px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .sidebar-pane {
        width: 350px;
    }
}
@media (min-width: 1200px) {
    .sidebar-pane {
        width: 420px;
    }
}
.sidebar-map {
    margin-left: 40px;
}
@media (min-width: 768px) {
    .sidebar-map {
        margin-left: 0;
    }
}
@media (min-width: 768px) {
    .sidebar.collapsed ~ .sidebar-map .leaflet-left {
        left: 50px;
    }
}
@media (min-width: 768px) {
    .sidebar-map .leaflet-left {
        transition: left 100ms;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .sidebar-map .leaflet-left {
        left: 315px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .sidebar-map .leaflet-left {
        left: 400px;
    }
}
@media (min-width: 1200px) {
    .sidebar-map .leaflet-left {
        left: 470px;
    }
}