
.tab-geoinfo,
.geoinfo-admins {
	text-transform: capitalize;
	color: #257;
	display: block;
	padding: 5px;
}
.geoinfo-admins span {
	white-space: nowrap;
}
.geoinfo-admins span:after {
	content: ",";
}
.geoinfo-admins span:last-child:after {
    content: "";
}

.popup-geoinfo {
	background: #fff;
	border-radius: 4px;
}

.geoinfo-nametips .btn {
	margin-bottom: 3px;
}