
#place .place-desc {
	font-size: small;
}
#place .place-warn {
	/*padding:4px 14px 4px 4px;*/
	padding-right: 22px;
	position:relative;
	border-color:#caa;
	border-width:1px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	color:#b22;
}
#place .data-source {
	color: #ccc;
	font-size:10px;
}