
.bootstrap-tagsinput {
    width: 100%;
    padding: 0 3px 3px 3px;
}
.bootstrap-tagsinput .label {
    font-size: 12px
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.twitter-typeahead .tt-hint {
    display: none;
}
.typeahead-wrapper {
	display: block;
	margin: 50px 0;
}
.tt-dropdown-menu {
	background-color: #fff;
	border: 1px solid #000;
}
.tt-suggestion.tt-cursor {
	background-color: #ccc;
}
.triggered-events {
	float: right;
	width: 500px;
	height: 300px;
}
.tt-menu {
    position: static;
    top: 100%;
    left: 0;
    z-index: 8000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.tt-suggestion:hover,
.tt-suggestion:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}

.bootstrap-tagsinput input,
.tt-input {
    padding-top:5px;
    line-height: 1em;
    font-size: small;
    min-width: 40px
}