
.allcats .list-items.list-items-grid .list-group-item {
	height: auto;
	max-width: none;
	width: auto;
}

.allcats .btn-cat {
    font-weight: bold;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.pick-cats-all,
.pick-cats-latest {
	max-height: 78px;
	overflow-y: auto;
}
.pick-cats-all .btn,
.pick-cats-latest .btn {
	margin-bottom: 5px
}