
<template name="footer">

<footer>
	<div id="social-icons">
		<a class="social-icon_tw" title="Twitter" target="_blank" href="{{i18n 'socials.twitter'}}"></a>
		<a class="social-icon_fb" title="Facebook" target="_blank" href="{{i18n 'socials.facebook'}}"></a>
		<a class="social-icon_gp" title="Google+" target="_blank" href="{{i18n 'socials.google'}}"></a>
		<a class="social-icon_tu" title="Tumblr" target="_blank" href="{{i18n 'socials.tumblr'}}"></a>
	</div>
	<br />
	<br />

	<small class="text-muted">
		<i>{{i18n 'website.copy'}}</i>&nbsp;&bull;&nbsp;<a href="/about">about</a>
	</small>
	<br />
	<br />
</footer>

</template>