
<template name="page_intro">

<div id="page_intro" class="row">

	<div id="intro_wrap" class="col-xs-12 col-md-4 col-md-offset-4 text-center">
	
		<img id="logo" src="/images/climbo-200.png" />
		
		<em id="slogan" class="clearfix">The Climbers Community</em>
	
		{{> loginButtons}}

		{{#if currentUser}}
		<a class="btn btn-lg btn-primary intro-btn-enter" href="#">Entra</a>
		{{/if}}

		{{> social_icons}}

		<small class="text-muted"><i>&copy;2014 Climbo.net</i></small>

	</div>

</div>

</template>
