
<template name="pageList">
		
	{{> navbar}}

	<section id="pageList">

		{{> panelList}}
		
	</section>

</template>

<template name="panelList">

	<div class="panel panel-white">
		<div class="panel-heading">
			{{{title}}}
		</div>
		<div class="panel-body">

			<div class="list-group list-items {{className}}">
				{{#if header}}
					<div class="list-group-item header-item">
						{{> Template.dynamic template=this.header.template data=this.header.data}}
					</div>
				{{/if}}
				{{#each items}}
					<div class="list-group-item">
					{{> Template.dynamic template=this.template}}
					</div>
				{{/each}}
			</div>
		</div>
	</div>	
	

</template>
