
<template name="pageConver">

	{{> navbar}}

	<section class="container" id="pageConver">

		<h4>{{title}}</h4>

		<div class="list-group">
			{{> converMsgs}}
		</div>
		<div class="row">
			{{> converInput}}
		</div>
	</section>

</template>

<template name="converInput">
	<form class="conver-input">
		<div class="col-xs-12">
			<textarea name="body" placeholder="{{i18n 'ui.labels.msgnew'}}"  maxlength="300" aria-expanded="true" aria-label="{{i18n 'ui.labels.msgnew'}}"></textarea>
		</div>
	</form>
</template>

<template name="converMsgs">
	{{#each msgsLast}}
		{{> itemMsg}}
	{{/each}}
</template>

<!-- TODO move to /client/views/items/ -->
<template name="itemMsg">	
	<div class="list-group-item msg-item">
		<div>
			{{#with newUser userId}}
				{{> item_user}}
			{{/with}}
			<div class="msg-body">{{{body}}}</div>
		</div>
		<time>{{humanTime updateAt 1}}</time>
    </div>
</template>
