
<template name="popup_place">
	<a href="/place/{{id}}" class="btn btn-block btn-default popup-tit">
		{{#if name}}<b>{{name}}</b>{{else}}<i>{{i18n 'labels.noname'}}</i>{{/if}}
	</a>
	<div class="btn-group">
		{{#if tracks}}
		<a class="btn btn-sm btn-default" href="/place/{{id}}/tracks"><i class="icon icon-gpx"></i></a>
		{{/if}}
		{{#if pois}}
			<a class="btn btn-sm btn-default" href="/place/{{id}}/pois"><i class="icon icon-pois"></i></a>
		{{/if}}
		{{#if checkinsCount}}
			<a class="btn btn-sm btn-default" href="/place/{{id}}/checkins"><i class="icon icon-users"></i></a>
		{{/if}}
		{{#if conversCount}}
			<a class="btn btn-sm btn-default" href="/place/{{id}}/convers"><i class="icon icon-mes"></i></a>
		{{/if}}		
	</div>
	{{#if settings 'editPlaces'}}
		<div class="clearfix">&nbsp;</div>
		{{> popup_edit}}
	{{/if}}
</template>

<template name="popup_track">
	<span class="popup-track-content">
		{{#if time}}<i class="icon icon-time"></i> {{i18n 'labels.time'}} {{humanTime time}} <br />{{/if}}
		{{#if len}}<i class="icon icon-len"></i> {{i18n 'labels.len'}} {{humanDistance len}} <br />{{/if}}

		{{#if asc}}
		<i class="icon icon-sal"></i> {{i18n 'labels.asc'}} {{humanDistance dis 1 }}
		{{else}}
		{{#if dis}}
		<i class="icon icon-dis"></i> {{i18n 'labels.desc'}} {{humanDistance dis 1 }}
		{{/if}}
		{{/if}}
	</span>
</template>

<template name="popup_poi">
	<div class="popup-poi">
		{{#if name}}<h4>{{name}}</h4>{{/if}}
	</div>
</template>
