
<template name="popupPlace">
	<a href="/place/{{id}}" class="btn btn-block btn-default popup-tit">
		{{#if name}}<b>{{name}}</b>{{else}}<i>{{i18n 'labels.noname'}}</i>{{/if}}
	</a>
	<div class="btn-group">

		{{#each pluginsTemplates}}
			{{> Template.dynamic template=pluginTemplate data=pluginData}}
		{{/each}}

		{{#if checkinsCount}}
			<a class="btn btn-sm btn-default" href="/place/{{id}}/checkins"><i class="icon icon-users"></i></a>
		{{/if}}
		{{#if conversCount}}
			<a class="btn btn-sm btn-default" href="/place/{{id}}/convers"><i class="icon icon-mes"></i></a>
		{{/if}}
	</div>
	{{#if currentUser.isAdmin}}
		<div class="clearfix">&nbsp;</div>
		{{> admimPopupPlace}}
	{{/if}}
</template>

<template name="item_user_popup">
	<div>
	{{> item_user}}
	</div>
</template>

