
<template name="popup_place">
	<a href="/place/{{id}}" class="btn btn-block btn-default popup-tit">
		{{#if name}}<b>{{name}}</b>{{else}}<i>{{i18n 'ui.labels.noname'}}</i>{{/if}}
		<!-- <span class="pull-right"><i class="icon icon-ar-right"></i></span> -->
	</a>
	<div class="btn-group">
		{{#if tracks}}
		<a class="btn btn-sm btn-default" href="/place/{{id}}/tracks"><i class="icon icon-gpx"></i></a>
		{{/if}}
		{{#if pois}}
			<a class="btn btn-sm btn-default" href="/place/{{id}}/pois"><i class="icon icon-pois"></i></a>
		{{/if}}
		{{#if checkinsCount}}
			<a class="btn btn-sm btn-default" href="/place/{{id}}/checkins"><i class="icon icon-users"></i></a>
		{{/if}}
		{{#if conversCount}}
			<a class="btn btn-sm btn-default" href="/place/{{id}}/convers"><i class="icon icon-mes"></i></a>
		{{/if}}		
	</div>
	{{#if settings 'editPlaces'}}
		{{> popup_edit}}
	{{/if}}
</template>

<template name="popup_edit">
	<div class="clearfix">&nbsp;</div>
	<div class="btn-group popup-actions">
		<a class="popup-move btn btn-xs btn-default" href="#">Move</a> 
		<a class="popup-canc btn btn-xs btn-default" style="display:none" href="#">Cancel</a>
		<a class="popup-clone btn btn-xs btn-default" href="#">Clone</a> 
		<a class="popup-del btn btn-xs btn-default" href="#">Delete</a>
		<input class="popup-rename form-control" type="text" value="{{name}}" />
	</div>
	<div class="clearfix">
		{{#if ele}} ele: {{ele}}m {{/if}}
		{{#if esp}} esp: {{esp}}° {{humanAzimut esp}} {{/if}}
	</div>
</template>

<template name="popup_track">
	<div class="popup-track">
		{{#if time}}<i class="icon icon-time"></i> {{i18n 'ui.labels.time'}} {{humanTime time}} <br />{{/if}}
		{{#if len}}<i class="icon icon-len"></i> {{i18n 'ui.labels.len'}} {{humanDistance len}} <br />{{/if}}

		{{#if asc}}
		<i class="icon icon-sal"></i> {{i18n 'ui.labels.asc'}} {{humanDistance dis 1 }}
		{{else}}
		<i class="icon icon-dis"></i> {{i18n 'ui.labels.desc'}} {{humanDistance dis 1 }}
		{{/if}}

	</div>
</template>

<template name="popup_poi">
	<div class="popup-poi">
		{{#if name}}<h4>{{name}}</h4>{{/if}}
	</div>
</template>
