
<template name="social_icons">

	<div id="social-icons">
		<a class="social-icon_tw ui-link" title="Twitter" target="_blank" href="https://twitter.com/climbo_net"></a>		
		<a class="social-icon_fb ui-link" title="Facebook" target="_blank" href="https://www.facebook.com/ClimboNetCommunity"></a>
		<a class="social-icon_gp ui-link" title="Google+" target="_blank" href="https://plus.google.com/+ClimboNetCommunity" rel="publisher"></a>
		<!-- <a class="social-icon_tu ui-link" title="Tumblr" target="_blank" href="http://blog.climbo.net"></a> -->
	</div>

</template>