
<template name="pageAbout">

{{> navbar}}

<section id="about">
	<div class="col-xs-12 col-md-4 col-md-offset-4 text-center">
	
		
		<h2>{{i18n 'website.title'}}</h2>

		<em id="slogan" class="clearfix">{{i18n 'website.desc'}}</em>

		<br /><br />

		<p>
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
		Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
		natoque penatibus et magnis dis parturient montes, nascetur 
		ridiculus mus. Donec quam felis, ultricies nec, pellentesque 
		eu, pretium quis, sem. Nulla consequat massa quis enim. 
		Donec pede justo, fringilla vel, aliquet nec, vulputate 
		eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis 
		vitae, justo. 
		</p>

		{{> footer}}

	</div>
</section>

</template>
