
<template name="pageSettings">

	{{> navbar}}

	<section id="settings">

		<form class="form-horizontal" role="form">

			<div class="form-group">
				<div class="col-sm-3 col-xs-5 text-right">
					<img class="img-thumbnail user-avatar-big" src="{{avatar}}" />
				</div>
				<div class="col-sm-9 col-xs-7">
					<label for="fileavatar">{{i18n 'btns.avatar'}}</label>
					<input id="fileavatar" class="form-control" type="file" />
					<label class="text-danger"></label>
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-3 control-label">{{i18n 'labels.username'}}</label>
				<div class="col-xs-9">
					<label class="text-primary control-label">{{username}}</label>
				</div>
			</div>

			<div class="form-group">
				<label for="name" class="col-xs-3 control-label">{{i18n 'labels.name'}}</label>
				<div class="col-xs-9 has-feedback">
					<input id="name" class="form-control" type="text" value="{{name}}">
					<span style="display:none" class="form-control-feedback icon icon-del"></span>
				</div>
			</div>

			<div class="form-group">
				<label for="city" class="col-xs-3 control-label">{{i18n 'labels.city'}}</label>
				<div class="col-xs-9">
					<input id="city" class="form-control" type="text" value="{{city}}" />
				</div>
			</div>

			<div class="form-group">
				<label for="gender" class="col-xs-3 control-label">{{i18n 'labels.gender'}}</label>
				<div class="col-xs-9">
					<div id="gender" class="btn-group" data-toggle="buttons">
					{{#each genders}}
						<label class="btn btn-xs btn-default {{#if active}} active {{/if}}">
						<input name="gender" type="radio" checked="{{active}}" value="{{val}}" class="form-control" />
						{{name}}
						</label>
					{{/each}}
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="email" class="col-xs-3 control-label">{{i18n 'labels.email'}}</label>
				{{#each emails}}
				<div class="col-xs-9 col-xs-offset-3">
					<div class="input-group">
						<div class="input-group-addon">
						{{#if verified}}
							<span class="text-green"><i class="icon icon-success"></i></span>
						{{else}}
							<a class="text-danger"><i class="icon icon-warning"></i></a>
						{{/if}}						
						</div>
						<input disabled="disabled" id="email" class="form-control" type="email" data-value="{{address}}" value="{{address}}" />
					</div>
				</div>
				{{/each}}
			</div>

			<div class="form-group">
				<label class="col-xs-3 control-label">{{i18n 'labels.likeplaces'}}</label>
				<div class="col-xs-9 col-xs-offset-3">
					<div id="likeplaces" class="btn-group" data-toggle="buttons">
					{{#each places}}
						<label class="btn btn-xs btn-default {{#if active}} active {{/if}}">
						<input type="checkbox" name="likeplaces" checked="{{active}}" value="{{val}}" />
						{{name}}
						</label>
					{{/each}}
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-3 control-label">{{i18n 'labels.layer'}}</label>
				<div class="col-xs-9 col-xs-offset-3">
					<div id="maplayer" class="btn-group" data-toggle="buttons">
					{{#each layers}}
						<label class="btn btn-default {{#if active}} active {{/if}}" style="background-image:url('{{url}}')">
						<input type="radio" name="maplayer" checked="{{active}}" value="{{val}}" />
						{{name}}
						</label>
					{{/each}}
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-3 control-label">{{i18n 'labels.lang'}}</label>
				<div class="col-xs-9 col-xs-offset-3">
					<div class="input-group">
						<div class="input-group-addon"><i class="icon icon-lang-{{lang}}"></i></div>
						<select id="lang" class="form-control">
						{{#each langs}}
							<option value="{{key}}" selected={{active}}>{{val}}</option>
						{{/each}}
						</select>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-3 control-label">{{i18n 'labels.privacy'}}</label>
				<div class="col-xs-9 col-xs-offset-3">
					<a class="btn btn-default" href="/settings/blocked">
						<i class="icon icon-report"></i> {{i18n 'btns.usersblocked'}}
					</a>
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-3 control-label">{{i18n 'labels.account'}}</label>
				<div class="col-xs-9 col-xs-offset-3">
				{{> loginButtons}}
				</div>
			</div>
		</form>

	</section>

</template>

<template name="pageSettingsBlock">

	{{> navbar}}

	<section id="settingsBlock">
	{{#with currentUser}}
		<div class="list-group col-sm-6 col-sm-offset-3">
		{{#if usersBlocked.length}}
			<ul class="list-group list-items">		
				{{#each usersBlocked}}
				<li class="list-group-item">
					{{#with newUser this}}
						{{> item_user}}
					{{/with}}
				</li>
				{{/each}}
			</ul>		
		{{else}}
			<div class="text-gray text-center">{{i18n 'labels.nolistitems'}}</div>
		{{/if}}
		</div>
	{{/with}}
	</section>

</template>