
#home {
	min-height: 100%;
	background: #F8F8FE;
	background-attachment: fixed;
	overflow: hidden;
}

#logo {
	cursor:pointer;
	height:160px;
	border:none;
	margin: 25px auto;
}

#slogan {
	clear: both;
	margin: 25px auto;
	font-size: .85em;
	letter-spacing: 2px;
	color:#0069B3;
	text-shadow: 0 0 3px #b5ddff;
}

