
#intro {
	min-height: 100%;
	background: url('/images/back.png') repeat-x top right #F8F8FE;
	background-attachment: fixed;
	overflow: hidden;
}

#logo {
	cursor:pointer;
	height:160px;
	border:none;
	margin: 25px auto;
}

#slogan {
	clear: both;
	margin: 25px auto;
	font-size: .85em;
	letter-spacing: 2px;
	color:#0069B3;
	text-shadow: 0 0 3px #b5ddff;
}


#social-icons a {
	background:url("/images/sprite-social.min.png") no-repeat 0 0;
	display:inline-block;
	width:32px;
	height:32px;
	border-radius:4px;	
	margin:8px;
	opacity:0.7;
}
#social-icons a:hover {	opacity:0.9; }
#social-icons a.social-icon_tw{background-position:0 0;}
#social-icons a.social-icon_tw:hover{background-position:0 -33px;}
#social-icons a.social-icon_fb{background-position:-32px 0;}
#social-icons a.social-icon_fb:hover{background-position:-32px -33px;}
#social-icons a.social-icon_gp{background-position:-64px 0;}
#social-icons a.social-icon_gp:hover{background-position:-64px -33px;}
#social-icons a.social-icon_tu{background-position:-96px 0;}
#social-icons a.social-icon_tu:hover{background-position:-96px -33px;}
