
<template name="panelFriends">

<div id="friends" class="panel">
	<div class="panel-heading bg-primary">
		<h4 class="pull-left">
			<a class="back" href="javascript:history.back()"><i class="icon icon-ar-left-w"></i></a> 
			{{i18n 'ui.titles.friends'}}
		</h4>		
		<a class="close pull-right" href="/">&times;</a>
	</div>
	<div class="panel-body list-group list-items">
		
		<div class="header-item">
			<form class="form-horizontal">
				<div class="form-group has-feedback col-xs-9">
					<input class="form-control users-inp-search" type="text" placeholder="{{i18n 'ui.labels.findusers'}}" /> 
					<a class="form-control-feedback users-btn-search">
						<i class="icon icon-search"></i>
					</a>
				</div>
				<div class="text-right">
					{{> switch_online}}
				</div>
			</form>
		</div>
		{{#each friends}}
		<div class="list-group-item">
			{{> item_user_friend}}
		</div>
		{{/each}}
	</div>
</div>
	
</template>

<template name="switch_online">
	<input class="form-control" id="switch_online" type="checkbox" />
</template>
