
<template name="panelFriends">

<div id="friends" class="panel panel-white">
	<div class="panel-heading">
		{{> switch_online}}
	</div>
	<div class="panel-body list-group list-items">
		<li class="list-group-item">
			<form role="form">

				<div class="form-group has-feedback">
					<input class="form-control users-inp-search" type="text" placeholder="{{i18n 'ui.labels.findusers'}}" /> 
					<a class="form-control-feedback users-btn-search">
						<i class="icon icon-search"></i>
					</a>
				</div>
			</form>
		</li>
		{{#each friends}}
			<li class="list-group-item">
			{{> item_friend}}
			</li>
		{{/each}}
	</div>
</div>
	
</template>

<template name="switch_online">
	<input id="switch_online" type="checkbox" />
</template>
