
<template name="panelList">

	<div id="panelList" class="panel {{className}}">
		<div class="panel-heading bg-primary">
			<h4 class="pull-left">{{{title}}}</h4>
			<a class="close pull-right" href="/">&times;</a>
		</div>
		<div class="panel-body">

			{{#if header}}
				<div class="header-item">
					{{> Template.dynamic template=this.header.template data=this.header.data}}
				</div>
				<br />
			{{/if}}
			{{#if items.length}}
			<div class="list-group list-items">
				{{#each items}}
					<div class="list-group-item">
					{{> Template.dynamic template=this.template}}
					</div>
				{{/each}}
			</div>
			{{/if}}
		</div>
	</div>	
	

</template>
