
<template name="panelList">

	<div class="panel">
		<div class="panel-heading bg-primary">
			{{{title}}}
		</div>
		<div class="panel-body">

			{{#if header}}
				<div class="header-item">
					{{> Template.dynamic template=this.header.template data=this.header.data}}
				</div>
			{{/if}}
			{{#if items.length}}
			<br />
			<div class="list-group list-items {{className}}">
				{{#each items}}
					<div class="list-group-item">
					{{> Template.dynamic template=this.template}}
					</div>
				{{/each}}
			</div>
			{{/if}}
		</div>
	</div>	
	

</template>
