
<template name="panelList">
	<div id="panelList" class="panel {{className}}">
		<div class="panel-heading bg-primary">
			<h4 class="pull-left">
				<a class="backhist" href="javascript:history.back()"><i class="icon icon-ar-left-w"></i></a> 
				{{{title}}}
			</h4>
			<a class="close pull-right" href="/">&times;</a>
		</div>
		<div class="panel-body">

		{{#if headerTemplate}}
			<div class="list-header">
				{{> Template.dynamic template=headerTemplate data=headerData}}
			</div>
		{{/if}}
		
		<div class="list-items list-group">
			{{#if list.length}}	
				{{#each list}}
					<div class="list-group-item">
					{{> Template.dynamic template=this.template}}
					</div>
				{{/each}}
			{{else}}
				<!--div class="list-group-item text-gray text-center">
					{{i18n 'labels.nolistitems'}}
				</div-->
			{{/if}}
			</div>
		</div>
	</div>
</template>
