
<template name="panelNearby">

<div id="nearby" class="panel">
	<div class="panel-heading bg-primary">
		<h4 class="pull-left">
			<a class="backhist" href="javascript:history.back()"><i class="icon icon-ar-left-w"></i></a> 
			{{i18n 'titles.nearby'}}
		</h4>		
		<a class="close pull-right" href="/">&times;</a>
	</div>
	<div class="panel-body">
	{{#each places}}
		<div class="well well-sm pull-left">
			{{> item_place}}
			<br />
			<small class="pull-right">{{near}}</small>
			<br />
			{{> place_btns}}
		</div>
	{{/each}}
	</div>
</div>		

</template>