
<template name="panelPlaces">

<div id="places" class="panel">
	<div class="panel-heading bg-primary">
		{{i18n 'ui.titles.places'}}
	</div>
	<div class="panel-body">
	{{#each places}}
		<div class="well well-sm pull-left">
			{{> item_place}}
			<br />
			<small>{{near}}</small>
			<br />
			<div class="btn-group">
				<a class="btn btn-sm place-btn-checkins" href="/place/{{id}}/checkins">
					<i class="icon icon-{{#if checkinsCount}}users{{else}}unusers{{/if}}"></i>
					<span class="badge {{#unless checkinsCount}}bg-gray{{/unless}}">{{checkinsCount}}</span>
				</a>
				<a class="btn btn-sm place-btn-star">
					<i class="icon icon-{{#if isFavorite}}star{{else}}unstar{{/if}}"></i>
					<span class="badge {{#unless getRank}}bg-gray{{/unless}}">{{getRank}}</span>
				</a>
				<a class="btn btn-sm place-btn-map" href="/place/{{id}}/map">
					<i class="icon icon-map"></i>
				</a>
			</div>
		</div>
	{{/each}}
	</div>
</div>		

</template>