
<!--Template.panelPlace.events({	
	'click .nav-tabs a': function(e, tmpl) {
		e.preventDefault();
		$(e.currentTarget).tab('show');
	}
});-->

<template name="panelPlace">

<div id="place" class="panel">
	<div class="panel-heading bg-primary">
		<h4 class="pull-left">
			<a class="backhist" href="javascript:history.back()"><i class="icon icon-ar-left-w"></i></a> 
			{{name}}
		</h4>
		<a class="close pull-right" href="/">&times;</a>
	</div>
	<div class="panel-body">
	
		{{> place_btns_all}}

		{{! > tab_share}}

		<br />

		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#tab_info" data-toggle="tab">
					<i class="icon icon-placeinfo"></i> <span class="hidden-xs">{{i18n 'btns.info'}}</span>
				</a>
			</li>		
			<li>
				<a href="#tab_histplace" data-toggle="tab">
					<i class="icon icon-hist"></i> <span class="hidden-xs">{{i18n 'btns.hist'}}</span>
				</a>
			</li>
			<li class="place-btn-events">
				<a href="#tab_eventsplace">
					<i class="icon icon-cal"></i> <span class="hidden-xs">{{i18n 'btns.events'}}</span>
				</a>
			</li>			
		</ul>

		<div class="tab-content">
			<br />

			<div class="tab-pane active" id="tab_info">
				
				{{> tab_info}}
				
				

				{{#if isOutdoor}}

					{{> tab_weather}}
					{{> tab_geoinfo}}
					{{> tab_tracks}}
					
				{{/if}}

				{{> tab_pois}}

				{{> tab_streetview}}

			</div>	
			<div class="tab-pane" id="tab_histplace">
				{{> tab_histplace}}
			</div>	
			<div class="tab-pane disabled" id="tab_eventsplace">
				{{> tab_eventplace}}
			</div>
		</div>
	</div>	
</div>

</template>

