
<template name="panelPlace">

<div id="place" class="panel">
	<div class="panel-heading bg-primary">
		<h4 class="pull-left">
			<a class="backhist" href="javascript:history.back()"><i class="icon icon-ar-left-w"></i></a> 
			{{name}}
		</h4>
		<a class="close pull-right" href="/">&times;</a>
	</div>
	<div class="panel-body">
	
		{{> place_btns_all}}

		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#tab_info" data-toggle="tab">
					<i class="icon icon-placeinfo"></i> <span class="hidden-xs">{{i18n 'ui.btns.info'}}</span>
				</a>
			</li>
			<li class="place-btn-weather">
				<a href="#tab_weather" data-toggle="tab">
					<i class="icon icon-weather"></i> <span class="hidden-xs">{{i18n 'ui.btns.weather'}}</span>
				</a>
			</li>			
			<li>
				<a href="#tab_hist" data-toggle="tab">
					<i class="icon icon-hist"></i> <span class="hidden-xs">{{i18n 'ui.btns.hist'}}</span>
				</a>
			</li>
			<li class="place-btn-events">
				<a href="#tab_events" data-toggle="tab">
					<i class="icon icon-cal"></i> <span class="hidden-xs">{{i18n 'ui.btns.events'}}</span>
				</a>
			</li>			
		</ul>

		<div class="tab-content">
			<br />

			<div class="tab-pane active" id="tab_info">
				
				{{> tab_info}}

				{{#if isOutdoor}}

					{{> tab_geoinfo}}
					{{> tab_tracks}}
					
				{{/if}}

				{{> tab_pois}}

				{{> tab_streetview}}

			</div>
			<div class="tab-pane" id="tab_weather">
				{{> tab_weather}}
			</div>			
			<div class="tab-pane" id="tab_hist">
				{{> tab_hist}}
			</div>	
			<div class="tab-pane" id="tab_events">
				{{> tab_events}}
			</div>
		</div>
	</div>	
</div>

</template>
