
<template name="panelUser">

<div id="user" class="panel">
	<div class="panel-heading bg-primary">
		<h4 class="pull-left">
			<a class="backhist" href="javascript:history.back()"><i class="icon icon-ar-left-w"></i></a> 
			{{name}}
		</h4>
		<a class="close pull-right" href="/">&times;</a>
	</div>
	<div class="panel-body">

		{{> tab_bio}}
		<br />
		
		{{#if status}}
			{{> tab_status}}
		{{/if}}

		<div class="row">
			<div class="col-xs-12">
				{{> user_btns2}}
			</div>
		</div>

		{{#if or getLoc checkin}}
			{{> tab_location}}
		{{/if}}

		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#tab_friends" data-toggle="tab">
					<i class="icon icon-users"></i> <span class="hidden-xs">{{i18n 'btns.friends'}}</span>
				</a>
			</li>			
			{{#if isFriend}}
			<li class="user-btn-star">
				<a href="#tab_histuser" data-toggle="tab">
					<i class="icon icon-hist"></i> <span class="hidden-xs">{{i18n 'btns.hist'}}</span>
				</a>
			</li>
			<li class="user-btn-star">
				<a href="#tab_favs" data-toggle="tab">
					<i class="icon icon-star"></i> <span class="hidden-xs">{{i18n 'btns.favs'}}</span>
				</a>
			</li>
			<li class="user-btn-cal disabled">
				<a href="#tab_eventsuser">
					<i class="icon icon-cal"></i> <span class="hidden-xs">{{i18n 'btns.events'}}</span>
				</a>
			</li>
			{{/if}}
		</ul>

		<div class="tab-content">
			<br />
			<div class="tab-pane active" id="tab_friends">
				{{> tab_friends}}		
			</div>
			{{#if isFriend}}
			<div class="tab-pane" id="tab_histuser">
				{{> tab_histuser}}
			</div>
			<div class="tab-pane" id="tab_favs">
				{{> tab_favs}}
			</div>
			<div class="tab-pane" id="tab_eventsuser">
				{{> tab_eventuser}}
			</div>
			{{/if}}
		</div>
	</div>		
</div>

</template>
