
.input-desc {
	font-size: 14px;
	max-height: 100px;
	overflow-y: auto;
	resize: none;
}

#editMap .map {
	position: relative;
	height: 250px;
	width: auto;
	cursor: move;
	/*background-color: #ccc*/;
	margin: 2px 1px;
	border-radius: 4px;
	border:1px solid #ccc;
}

#editMap .leaflet-control-zoom.leaflet-bar {
	padding: 2px;
}