
.conver-item {
	height: auto;
	overflow: hidden;
}


.conver-target {

}
.conver-users .user-btn-name {
	font-size: 12px;
	vertical-align: bottom;
}
.conver-title {
	clear: both;
	color: #666;
	max-width: 80%;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.conver-item .place-btn-name,
.conver-item .user-btn-name {
	line-height: 12px;
	margin-left: 0;
	margin: 0;
}
.conver-item .user-btn-name:after {
	content: ",";
}
.conver-item .user-btn-name:last-child:after {
    content: "";
}
.conver-item time {
	font-size: 12px;
	color: #aaa;
}