
.marker-photo {
	box-shadow: 0 0 10px rgba(0,0,0,1);
	width: 40px;
	height: 40px;
	position: absolute;
	top: -35px;
	left: -35px;
	border-radius:3px;
	border: 2px solid white;  
}

.place-photo {
	width: 100%;
	margin: 5px 0;
	cursor: pointer;
}

.btn-photodel {
	position: relative;
	z-index: 1000;
	margin-bottom: -60px;
}
