
#page404,
#pageLoading {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;	
	background: #fff;
	text-shadow:none;
	text-align: center;
	color: #f80;	
}
/* PAGES*/

.container section,
.container-fluid section {
	margin-top: 40px;
}

footer {
	padding: 20px;
}

.built {
	background: rgba(255,255,255,0.6);	
	font-style: italic;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	color: #9c0;
	white-space: nowrap;
}
.built:hover {
	text-decoration: none;
}