
#page404,
#pageLoading {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;	
	background: #fff;
	text-shadow:none;
	text-align: center;
	color: #f80;	
}
/* PAGES */
.container section,
.container-fluid section {
	margin-top: 40px;
}
footer {
	padding: 20px;
}

.builtwith {
	font-style: italic;
	font-size: 11px;
	letter-spacing: 1px;
	color: #9c0;
	white-space: nowrap;
}
.builtwith:hover {
	color:#9c0;
	text-decoration: none;
}
