
.user-item,
.friend-item,
.place-item,
.favorite-item,
.place-btn-name {
	height: auto;
	overflow: hidden;
}
.user-btn-name,
.place-btn-name {
	text-transform:capitalize;	
	font-weight: bold;
	padding: 0;
	margin: 0;
	font-size: 14px;	
	line-height: 30px;
	color: #337ab7;
}

.user-btn-name u {
	text-decoration: none;
	margin-left: 2px;
}

/* item place */
.place-btn-mes .badge:not(.bg-gray) {
	color:#fff;
	background-color:#8BCEDF;
}
.place-btn-checkins .badge:not(.bg-gray) {
	color:#fff;
	background-color:#F69714;
}
.popup-btn-star .badge:not(.bg-gray),
.place-btn-star .badge:not(.bg-gray) {
	color:#fff;
	background-color:#FCD865;
}

.friend-item.offline .icon-avatar {
	opacity: 0.6;
}
.friend-item.offline .btn {
	color: #888;
}

.friends-search:active + .icon-search {
	display: none;
}
