
#page404,
#pageLoading {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;	
	background: #fff;
	text-shadow:none;
	text-align: center;
	color: #f80;	
}
.container-full {
	position: absolute;
	height: 100%;
	width: 100%;
}

/* PAGES*/
.container section {
	margin-top: 50px;
	background: #fff;
}
.container-full section {
	min-height: 100%;
	overflow: hidden;
}

.container-full footer {
	padding: 20px;
}