
#page404,
#pageLoading {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;	
	background: #fff;
	text-shadow:none;
	text-align: center;
	color: #f80;	
}
.container-full {
	position: absolute;
	height: 100%;
	width: 100%;
}