
/* MARKER ICON ANIMATION */

.marker-anim {
	display: none;
	position: absolute;
	height: 30px;
	width: 70px;
	left: -22px;
	bottom: -15px;
	transition: all .4s ease-out;
}
.marker-anim.animated {
	display: block;
	transition: all .4s ease-in;
	transform: scale(1.45);
}
.marker-cluster .marker-anim {
	display: none;
}
.marker-cluster {
	border-radius: 0;
}
.marker-cluster span {
	line-height: 1
}

/* MARKER DRAGGABLE */
.marker-handledrag {
	border: 2px solid rgba(224,104,0, 0.6);
	border-radius: 12px;
	border-top-left-radius: 0;
	position: absolute;
	bottom: -45px;
	right: -30px;
	height: 37px;
	width: 38px;	
	cursor: move;
}

.marker-place .badge-checkins,
.marker-cluster .badge-checkins {
	position: absolute;
	top: -2px;
	right: -2px;
	z-index: 1000;
}
.marker-cluster .badge-cluster {
	position: absolute;
	top: 7px;
	left: 7px;
}

.leaflet-marker-icon {
	border: none
}