
.leaflet-popup-pane {
	box-shadow: 0 0 8px rgba(0,0,0,0.4);
}
.leaflet-popup-content-wrapper {
	border-radius:8px;
	border: none;
	text-shadow:none;
	color:#ddd;
}
.leaflet-popup-tip {
	border: none;	
	margin: -9px auto 0;
}
.leaflet-popup-tip-container {
	margin-top: 0;
}
.leaflet-popup-content {
	margin:4px;
	overflow: hidden;
}

.leaflet-popup-content > div {
	border-radius: 4px;	
	background: #fff;
	color: #579ad4;
	padding: 4px;
	margin: 0;
}

.leaflet-popup-content .popup-place {
	background: none
}


.popup-tit {
	text-transform: capitalize;
	margin-bottom: 8px;
	border: none;
}

.popup-near {
	text-transform:capitalize;
}
.btn.disabled.popup-btn-star {/*patch*/
	overflow: hidden;
	opacity: 1;
}