
.sidebar {
	position: absolute;
    top: 0;	
    left: 0;
    right: 0;
    width: 320px;
	z-index: 1000;
	background: none;    
    height: auto;
    padding: 4px;
}
.sidebar.expanded {
    height: calc(100%);
}
.sidebar.expanded > .tab-content {
	margin-top: 4px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius:4px;
    overflow: hidden;
}
.sidebar .nav-pills {
	background: #fff;/*rgba(255,255,255,0.6);*/
    border-radius:4px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
    padding: 0   
}
.sidebar > .nav > li {
    height: 34px;
    margin: 4px 2px 2px 0;
}
.sidebar > .nav > li:first-child {
	margin-left: 4px;
}
.sidebar > .nav > li > a.btn {
	padding: 4px;
    height: 32px;
    margin: 0;
    font-size: 14px;
}

.sidebar > .nav > li > a.btn-connect-connected {
    display: none;
}

li#navsearch {
    position: absolute;
    right: 7px;
    top: 7px;
    text-align: right;
    background: #fff
}

.sidebar .panel {
	border: none;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
}
.panel-heading {
	height: 36px;
	padding: 1px 3px;
}
.sidebar .panel-body {
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	bottom: 0;	
    padding: 4px;
    margin: 4px;
	background: #fff;
    max-height: calc(100% - 100px);
	overflow-x: hidden;
	overflow-y: scroll;
    border-radius: 0;
    border-bottom-left-radius: 4px;    
    border-bottom-right-radius: 4px;
}
.sidebar .panel-footer {
	min-height: 40px;
	padding: 3px;
    margin: 4px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.sidebar-map .leaflet-left {
    left: 400px;
}
@media (max-width: 400px) {
    .sidebar {
        width: auto;
    }
    .leaflet-right.leaflet-top {
        padding-top: 50px;
    }
}
@media (min-width: 768px) {
    .sidebar {
        top: 0;
        left: 0;
        right: auto;
        width: 460px;
    }
    .sidebar-map {
        margin-left: 0;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .sidebar-map .leaflet-left {
        left: 400px;
    }
}
@media (min-width: 1200px) {
    .sidebar {
        width: 460px;
    }
}