
.sidebar {
	position: absolute;
    top: 0;	
    left: 0;
    right: 0;
    width: 320px;
    height: auto;  
	z-index: 1000;
	background: none;    
    padding: 4px;
/*    background: rgba(255,255,255,0.6)*/
}
.sidebar.expanded {
    height: calc(100%);
}
.sidebar > .tab-content {
    display: none;
}
.sidebar.expanded > .tab-content {
    display: block;
}


.sidebar > .tab-content {
    margin-top: 4px;
/*    box-shadow: 0 0 5px rgba(0,0,0,0.3);*/
    border-radius:4px;
    overflow: hidden;
}
.sidebar > .nav {
	background: #fff;/*rgba(255,255,255,0.6);*/
    border-radius:4px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
    padding: 0;
}
.sidebar > .nav > li {
    height: 32px;
    min-width: 32px;
    margin: 4px 0 2px 0;
    white-space: nowrap;
    line-height: 34px;
}
.sidebar > .nav > li > a.btn {
	padding: 4px;
    margin-right: 4px;	
    height: 30px;
    font-size: 14px;
}

.sidebar > .nav > li:first-child {
	margin-left: 4px;
}
.sidebar > .nav > li:first-child > a.btn {
	padding: 0;
	border: none;
	height: 30px;
	width: 30px;
}
.sidebar > .nav > li:first-child img {
	vertical-align: middle;
}

li#navsearch {
    position: absolute;
    right: 7px;
    top: 7px;
    text-align: right;
    background: #fff
}
.sidebar .panel {
	border: none;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
}
.sidebar .panel-heading {
	position: relative;
	height: 36px;
	padding: 1px;
}
.sidebar .panel-body {
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	bottom: 0;	
    padding: 4px;
    margin: 4px;
	background: #fff;
    max-height: calc(100% - 90px);
	overflow-x: hidden;
	overflow-y: scroll;
    border-radius: 0;
    border-bottom-left-radius: 4px;    
    border-bottom-right-radius: 4px;
}
.sidebar .panel-footer {
	min-height: 40px;
	padding: 3px;
    margin: 4px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

/*.sidebar-map .leaflet-left {
    left: 400px;
}*/
@media (max-width: 400px) {
    .sidebar {
        width: auto;
    }
    .leaflet-right.leaflet-top {
        padding-top: 50px;
    }
    .sidebar > .nav > li > a.btn {
		padding: 4px 2px;
    	margin-right: 0;	    	
		max-width: 80px;
		overflow:hidden;
		text-overflow: ellipsis;
    } 
}
@media (min-width: 768px) {
    .sidebar {
        top: 0;
        left: 0;
        right: auto;
        width: 460px;
    }
    .sidebar-map {
        margin-left: 0;
    }
    .sidebar > .nav > li .btn-connect-status {
    	display: none;
	}    

}
/*@media (min-width: 992px) and (max-width: 1199px) {
    .sidebar-map .leaflet-left {
        left: 400px;
    }
}*/
@media (min-width: 1200px) {
    .sidebar {
        width: 460px;
    }  
}