
#settings .loading-default #fileavatar {
	visibility: hidden;
}

#settings .dropdown-menu {
	border: none;
	background: none;
	padding: 5px 0;
	border-radius: 0
}
#settings #login-dropdown-list .dropdown-menu {
	margin: 0
}
#settings #login-dropdown-list .btn-block {
    width: 80%;
}

#settings label.btn.active {
	border-color: #337ab7;
	box-shadow: none;
}
#settings #maplayer .btn {
	background-position: center center;
	background-repeat: no-repeat;
	color: #fff;
	text-shadow:0 0 4px #000;
	box-shadow: none;
	border: 2px solid #fff;
	margin: 0 2px 2px 0;
	padding: 20px 10px;
	border-radius: 4px;
	min-width: 80px;
}
#settings #maplayer .btn.active {
	border-color: #337ab7;
	box-shadow: none;
}

#login-dropdown-list label {
	color: #999;
    font-size: 12px;
    font-weight: bold;
}