
.geoinfo-admins {
	text-transform: capitalize;
	color: #257;
	display: inline-block;
	padding: 5px;
}

.geoinfo-admins span:after {
	content: ",";
}
.geoinfo-admins span:last-child:after {
    content: "";
}