.icon {
	position: relative;
	top: 1px;
	display: inline-block;
	line-height: 1;
	/* come .glyphicon */
	vertical-align: text-bottom;/*non modificare!*/
/*	height: 18px;
	width: 18px;*/
	margin: -1px;
}
.icon-avatar {
	height: 30px;
	width: 30px;
}
.icon-avatar.icon-avatar-big {
	height: 90px;
	width: 90px;
}
.icon-marker,
.leaflet-marker-icon {
	display: inline-block;
	width:27px;
	height:30px;
}
.marker-poi .icon {
	position: absolute;
	top: 3px;
	left: 3px;
}
.btn-block .icon {
	text-align: left;
}