
.sidebar {
	position: absolute;
    top: 0;	
    left: 0;
    right: 0;
    width: 320px;
    height: auto;  
	z-index: 1000;
	background: none;    
    padding: 4px;
/*    background: rgba(255,255,255,0.6)*/
}
.sidebar.expanded {
    height: calc(100%);
}
.sidebar > .tab-content {
    display: none;
}
.sidebar.expanded > .tab-content {
    display: block;
}


.sidebar > .tab-content {
    margin-top: 0;
/*    box-shadow: 0 0 5px rgba(0,0,0,0.3);*/
    border-radius:4px;
    overflow: hidden;
}
.sidebar > .nav {
	background: #fff;/*rgba(255,255,255,0.6);*/
    border-radius:4px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
    padding: 0;
}
.sidebar > .nav > li {
    height: 32px;
    min-width: 32px;
    margin: 4px 0 2px 0;
    white-space: nowrap;
    line-height: 34px;
}
.sidebar > .nav > li > .btn {
    display: block;
	padding: 4px;
    margin-right: 2%;	
    height: 30px;
    font-size: 14px;
    border:none;
}

.sidebar > .nav > li:first-child {
	margin-left: 4px;
}
.sidebar > .nav > li:first-child img {
	vertical-align: middle;
    margin: -4px 0 -4px -4px;
}

li#navsearch {
    position: absolute;
    right: 7px;
    top: 7px;
    text-align: right;
    background: #fff
}
.sidebar .panel {
	border: none;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
}
.sidebar .panel-heading {
	position: relative;
	height: 36px;
	padding: 1px;
}
.sidebar .panel-body {
	position: absolute;
	top: 78px;
	left: 0;
	right: 0;
	bottom: 0;	
    padding: 4px;
    margin: 0 4px 0 4px;
	background: #fff;
    max-height: calc(100% - 82px);
	overflow-x: hidden;
	overflow-y: scroll;
    border-radius: 0;
    border-bottom-left-radius: 4px;    
    border-bottom-right-radius: 4px;
}
.sidebar .panel-footer {
	min-height: 40px;
	padding: 3px;
    margin: 4px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.sidebar .panel-body > .nav-tabs {
    float: none;
    clear: both;
    padding-top:10px;
    padding-top: 10px;  
}
.sidebar > .nav {
    position: relative;
}
.sidebar > .nav .btn-connect {
    position: absolute;
    top: 0;
    right: 0;
}
.sidebar > .nav .btn-connect-status {
    display: none;
}

@media (max-width: 420px) {
    .sidebar {
        width: auto;
        padding: 0;
    }
    .sidebar .panel-heading {
        border-radius: 0;
    }
    .sidebar .panel-body {
        top:74px;
        margin: 0;
        max-height: calc(100%);
    }
    .sidebar .panel-footer {
        margin: 0
    }    
    .leaflet-right.leaflet-top {
        padding-top: 50px;
    }
    .sidebar > .nav {
        border-radius: 0;
    }
    .sidebar > .nav > li > .btn {
		/*padding: 4px 2px;*/
    	margin-right: 0;	    	
		max-width: 80px;
		overflow:hidden;
		text-overflow: ellipsis;
    }
    .sidebar > .nav > li:last-child {
		margin-right: 4px;
	}
    .sidebar .btn-avatar span {
        display: none;
    }

}
@media (min-width: 768px) {
    .sidebar {
        top: 0;
        left: 0;
        right: auto;
        width: 460px;
    }
    .sidebar-map {
        margin-left: 0;
    }
}
@media (min-width: 1200px) {
    .sidebar {
        width: 460px;
    }
}
