
<template name="conver_msgs">
	<div class="list-group-item"></div>
	{{#if msgsMore}}
	<!-- TODO -->
		<div style="display:none">	
		{{#each msgsMore}}
			{{> item_msg}}
		{{/each}}
		</div>
		<a class="list-group-item btn btn-block conver-btn-more" href="#">
			{{msgsMore.length}} {{i18n 'ui.labels.msgsmore'}}
		</a>		
	{{/if}}

	{{#each msgsLast}}
		{{> item_msg}}
	{{/each}}
</template>

<template name="item_msg">	
	<div class="list-group-item msg-item">
		<div>
			{{#with newUser userId}}
				{{> item_user}}
			{{/with}}
			<div class="msg-body">{{{body}}}</div>
		</div>
		<time>{{humanTime updateAt 1}}</time>
    </div>
</template>
